// typography
$font-primary: 'Outfit', sans-serif;
$font-secondary: 'Fraunces', serif;
//breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//colors
$dark-bg: #1E1E1E;
$dark-text: #FFFFFF;
$dark-secondary-bg: #2D2D2D; // for cards, elements
$dark-border: #3A3A3A;
$light-bg: #F5F0E8;
$light-text: $dark-bg;
$light-secondary-bg: #EAE3D7;
$light-border: #D1C7B7;
