@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.next-button {
  color: inherit;
  align-self: center;
  width: auto;
  padding: 0 1rem;
  transition: transform .4s;
  opacity: 100%;

  &:hover {
    filter: brightness(150%);
    transform: scale(1.5);
    margin-left: 1rem
  }
}
