.words {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 3rem;
    z-index: 2;
    pointer-events: none; // do not block clicks

}

.buttons{
display: flex;
justify-content: center;
gap: 3rem;
}