@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  &__logo {
  }

  &__button {
    @include main-button;
  }

  &__icon {
  }
}
