.animation {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;

  &__container {
    position: relative;
    width: 100%;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__lines-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 80px;
  }

  &__line {
    position: absolute;
    width: 0.125rem;
    height: 10.75rem;
    border-radius: 0.125rem;
  }
}
